dark_mode_background_color 0.180 0.204 0.251
!dark_mode_background_color 0.141 0.160 0.2

custom_background_color 0.180 0.204 0.251
custom_text_color 0.847 0.871 0.914

startup_commands toggle_dark_mode;toggle_custom_color

create_table_of_contents_if_not_exists 1
max_created_toc_size 5000

should_launch_new_window 1

# More distinct highlights                                                                    
highlight_color_a 0.92 0.75 0.48                                                              
highlight_color_b 0.64 0.75 0.55                                                              
highlight_color_c 0.50 0.63 0.75 
